*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}
 body {
   color: #557571;
   font-family: "Montserrat",Sans-serif;
   background-color: rgb(249, 202, 125);
   font-size: 14px;
   box-sizing: inherit;
}


 @media (min-width: 360px) {
   
   header{
      background-color: rgb(249, 202, 125);
      
   }
   
   }   



   h1{
      font-size: 40px; 
      color: rgb(150, 148, 146);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: 30px;
      margin-top: 5px;
      margin-left: 580px;
   }

   #pesquisadeProdutos{ 
      margin-bottom: 10px;
      height: 30px;
      margin-left: 40px;
   
   }
   
   nav ul li{
      display: inline;
      margin-left: 30px;
   }

   nav{
      background-color: rgb(255, 196, 0);
   }
   ul{
      padding: 10px;
      text-align: center;
      color: rgb(182, 189, 189);
      font-size: 20px;
   }
   p{
      font-size: 20px; 
      height: 500px;
      margin-top: 50px;
      margin-left: 550px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
   }


 footer h1{ 
      color: #557571;
      font-size: 20px; 
      height: 30px;
      margin-top: 20px;
      margin-left: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      display: inline;
 }
 h2{
      color: #557571;
      font-size: 20px; 
      height: 20px;
      margin-top: 20px;
      margin-left: 550px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      display: inline;  
   }
   


 @media (min-width: 659px) {
   
   header{
      background-color: rgb(249, 202, 125);
   }
      



   h1{
      font-size: 40px; 
      color: rgb(150, 148, 146);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: 30px;
      margin-top: 5px;
      margin-left: 580px;
   }

   #pesquisadeProdutos{ 
      margin-bottom: 10px;
      height: 30px;
      margin-left: 40px;
   
   }
    
   nav ul li{
      display: inline;
      margin-left: 30px;
   }

   nav{
      background-color: rgb(255, 196, 0);
   }
   ul{
      padding: 10px;
      text-align: center;
      color: rgb(182, 189, 189);
      font-size: 20px;
   }
   p{
      font-size: 20px; 
      height: 500px;
      margin-top: 50px;
      margin-left: 550px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
   }


 footer h1{ 
   color: #557571;
   font-size: 20px; 
   height: 30px;
   margin-top: 20px;
   margin-left: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: inline;
}

h2{
   color: #557571;
   font-size: 20px; 
   height: 20px;
   margin-top: 20px;
   margin-left: 550px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: inline;  
}


 @media (min-width: 900px) {
   body{
      width: 100vw;
   }

   header{
      background-color: rgb(249, 202, 125);
      width: 98vw;
      height: 20vh
   }

   ul li{
      position: ;
      display: inline;
      height: 30px;
      margin-top: 5px;
      margin-left: 100px; 
   }

   #posiconamentoImg{
      position: absolute;
      top: 0vh;
      left: 42vw;
   }

   #pesquisadeProdutos{   
      height: 50px;
      width: 100px;
   
   }

   #menuDois{
      position: absolute;
      left: 55vw;
      top: 10vh;
   }

   #logo{
      width: 250px;
   }
    
   nav ul li{
      display: inline;
      margin-left: 50px;
   }

   nav{
      background-color: rgb(255, 196, 0);
   }
   ul{
      padding: 10px;
      text-align: center;
      color: rgb(182, 189, 189);
      font-size: 20px;
   }
   p{
      font-size: 25px; 
      height: 150px;
      margin-top: 100px;
      margin-left: 800px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
  
   #cartaodevisita{
      margin: 10px;
          border: 1px solid #ccc;
          float: left;
          width: 300px;
   }
   #agenda{
      margin: 10px;
          border: 1px solid #ccc;
          float: left;
          width: 300px;
   }
   #kit{
      margin: 10px;
          border: 1px solid #ccc;
          float: left;
          width: 300px;
   }
   #tags{
      margin: 10px;
          border: 1px solid #ccc;
          float: left;
          width: 300px;
   }

   #kitpapeleira{
      height: 300px;
      margin-top: -200px;
      margin-left: 100px;
   }
   footer h1{ 
      color: #557571;
      font-size: 20px; 
      height: 300px;
      margin-top: 50px;
      margin-left: 50px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      display: inline;
 }
   h2{
      color: #557571;
      font-size: 20px; 
      height: 20px;
      margin-top: 100px;
      margin-left: 550px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      display: inline;  
   }
}
  